---
agent:
  interval: 60

log:
  level: info

push:
  url: https://push.ukuma.io/api/push

checks:
  - id: example-ping-a
    push_token: push_token_a
    host: "127.0.0.1"
    timeout: 2000

  - id: example-ping-b
    push_token: push_token_b
    host: "1.1.1.1"
    timeout: 3000
